body,
html {
    width: 100%;
    height: 100%;
    margin: 0;

}

.dark,
.dark>p {
    background-color: black;
    color: white;

}

.light,
.light>p {
    background-color: white;
    color: black;

}